<!DOCTYPE html>
<html>
<head>
    <title>Run PowerShell</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <form id="run-command-form" action="/run" method="post">
        <input type="text" name="command" placeholder="Enter PowerShell command">
        <input type="submit" value="Run">
    </form>
    <pre><div id="command-output"></div></pre>

    //TO-DO: Leer el output del proceso a ejecutar/crear

</body>
</html>